* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: calibri;
}

.box {
    margin: 10px;
}

.box label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.box input,
.box textarea {
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 7px 12px;
    outline: none;
}

#submit {
    margin-left: 200px;
    padding: 10px;
    border: 1px solid #009;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.err {
    color: red;
}